{{#layout}}
  <div>
    <form class="form-inline">
      <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" id="MJI">문재인</li>
          <li class="list-group-item" id="YSY">윤석열</li>
          <li class="list-group-item" id="LNY">이낙연</li>
          <li class="list-group-item" id="LJM">이재명</li>
          <li class="list-group-item" id="HJP">홍준표</li>
          <li class="list-group-item" id="HKA">황교안</li>
        </ul>
      </div>
    </form>
  </div>


  <div id="naverContent" style="padding-top:20px">
    {{{naverMining.content}}}
  </div>

  <div id="naverComp" style="padding-top:10px">
  </div>

  <div id="naverWord" style="padding-top:25px">
  </div>

{{/layout}}