{{#layout}}

  <input type="hidden" id="keywordIndex">
  <form class="form-inline">
    <div class="form-group">
      <button type="button" id="naverPrev" style="color: green;"><i class="fas fa-angle-left"></i></button>
      <div style="padding:0px 0px 0px 10px">
        <button type="button" id="naverNext" style="color: green;"><i class="fas fa-angle-right"></i></button>
      </div>
    </div>
  </form>

  <div style="padding 20px 0px 0px 0px">
    {{{naverMining.content}}}
  </div>


{{/layout}}