{{#layout}}

  <form class="form-inline">
    <div class="form-group">
      <button type="button" id="reTwitPrev"><i class="fas fa-angle-left"></i></button>
      <div style="padding:0px 0px 0px 10px">
        <button type="button" id="reTwitNext"><i class="fas fa-angle-right"></i></button>
      </div>

    </div>
  </form>

  <div style="padding:0px 0px 0px 20px">
    <form class="form-inline">
      <div class="form-group">
        <button type="button" class="btn btn-primary" id="twitList">read Twits</button>
      </div>
      <input type="text" class="form-control" id="reTwitId" placeholder="1113831194628481024">
    </form>
  </div>

  <ul class="list-group" id="dataList">
  </ul>

{{/layout}}