{{#layout}}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <div class="col-md-6">
    <form>
      <div class="form-group row">
        <div id="sourceContainerMJI">
          <div class="col-xs-2">
            <i class="fas fa-database"></i>
            <label for="ex1">출처</label>
            <input class="form-control" id="sourceMJI" type="text" placeholder="NAVER,TWITTER,BOTH">
          </div>
        </div>
      </div>
    </form>

    <div style="margin-left:-10px">
      <button type="button" class="btn btn-primary" id="MJIBtn">확정</button>
    </div>

    <div class="main">
      <div class="chart-container" style="position: relative; height:200h; width:70vw; left:10%;">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
{{/layout}}
<script src="/js/app/charts/transitionMJI.js"></script>