{{#layout}}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <div class="col-md-6">
    <div class="main">
      <div class="chart-container" style="position: relative; height:200h; width:70vw; left:10%;">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
{{/layout}}
<script src="/js/app/charts/transitionMJI.js"></script>