{{#layout}}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <div class="col-md-6">
    <form>
      <div class="form-group row">

        <div id="startDateContainerVS4">
          <div class="col-xs-2">
            <i class="far fa-calendar"></i>
            <label for="ex1">시작일</label>
            <input class="form-control" id="startDateVS4" type="text" placeholder="Ex : 19991231">
          </div>
        </div>

        <div id="endDateContainerVS4" style="padding-left:10px">
          <div class="col-xs-2">
            <i class="far fa-calendar"></i>
            <label for="ex1">종료일</label>
            <input class="form-control" id="endDateVS4" type="text" placeholder="Ex : 20020301">
          </div>
        </div>

        <div id="sourceContainerVS4">
          <div class="col-xs-2">
            <i class="fas fa-database"></i>
            <label for="ex1">출처</label>
            <input class="form-control" id="sourceVS4" type="text" placeholder="NAVER,TWITTER,BOTH">
          </div>
        </div>

      </div>
    </form>

    <div style="margin-left:-10px">
      <button type="button" class="btn btn-primary" id="vs4Btn">확정</button>
    </div>

    <div class="main">
      <div class="chart-container" style="position: relative; height:200h; width:70vw; left:10%;">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
{{/layout}}
<script src="/js/app/charts/vs4.js"></script>