{{#layout}}

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <div class="col-md-6">
        <form>
          <div class="form-group row">

            <div id="dateContainerLJM">
              <div class="col-xs-2">
                <i class="far fa-calendar"></i>
                <label for="ex1">날짜</label>
                <input class="form-control" id="dateLJM" type="text" placeholder="Ex : 19991231">
              </div>
            </div>

            <div id="candidateContainerLJM" style="padding-left:10px">
              <div class="col-xs-2">
                <i class="fas fa-user-tie"></i>
                <label for="ex1">후보</label>
                <input class="form-control" id="candidateLJM" type="text" placeholder="Ex : 이재명 홍준표 윤석열">
              </div>
            </div>

            <div id="sourceContainerLJM">
              <div class="col-xs-2">
                <i class="fas fa-database"></i>
                <label for="ex1">출처</label>
                <input class="form-control" id="sourceLJM" type="text" placeholder="ex : NAVER TWITTER BOTH">
              </div>
            </div>
          </div>
        </form>

    <div style="margin-left:-10px">
      <button type="button" class="btn btn-primary" id="vsLJMBtn">확정</button>
    </div>

    <div class="main">
      <div class="chart-container" style="position: relative; height:200h; width:70vw; left:10%;">
        <canvas id="chart"></canvas>
      </div>
    </div>

  </div>

{{/layout}}
<script src="/js/app/charts/vsLJM.js"></script>