{{#layout}}
  <div>
    <form class="form-inline">
      <div class="form-group">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item" id="Tw_MJI">문재인</li>
          <li class="list-group-item" id="Tw_YSY">윤석열</li>
          <li class="list-group-item" id="Tw_LNY">이낙연</li>
          <li class="list-group-item" id="Tw_LJM">이재명</li>
          <li class="list-group-item" id="Tw_HJP">홍준표</li>
          <li class="list-group-item" id="Tw_HKA">황교안</li>
        </ul>
      </div>
    </form>

    <div id="twitterTitle">
    </div>

  </div>

  <div id="twitterContent" style="padding-top:20px">
    {{{twitterMining.content}}}
  </div>

  <div id="twitterComp" style="padding-top:10px;">
  </div>

  <div id="twitterWord" style="padding-top:25px">
  </div>


{{/layout}}