#MJI{
  background-color: white;
  color:black;
}

#MJI:hover{
  background-color: pink;
  color:white;
}

#YSY{
  background-color: white;
  color:black;
}

#YSY:hover{
  background-color: pink;
  color:white;
}

#LNY{
  background-color: white;
  color:black;
}

#LNY:hover{
  background-color: pink;
  color:white;
}

#LJM{
  background-color: white;
  color:black;
}

#LJM:hover{
  background-color: pink;
  color:white;
}

#HJP{
  background-color: white;
  color:black;
}

#HJP:hover{
  background-color: pink;
  color:white;
}

#HKA{
  background-color: white;
  color:black;
}


#HKA:hover{
   background-color: pink;
   color:white;
}

