#MJI{
  background-color: white;
  color:black;
  cursor: pointer;
}

#YSY{
  background-color: white;
  color:black;
  cursor: pointer;
}

#LNY{
  background-color: white;
  color:black;
  cursor: pointer;
}

#LJM{
  background-color: white;
  color:black;
  cursor: pointer;
}

#HJP{
  background-color: white;
  color:black;
  cursor: pointer;
}

#HKA{
  background-color: white;
  color:black;
  cursor: pointer;
}

#MJI_week{
  background-color: white;
  color:black;
  cursor: pointer;
}

#YSY_week{
  background-color: white;
  color:black;
  cursor: pointer;
}

#LNY_week{
  background-color: white;
  color:black;
  cursor: pointer;
}

#LJM_week{
  background-color: white;
  color:black;
  cursor: pointer;
}

#HJP_week{
  background-color: white;
  color:black;
  cursor: pointer;
}

#WHR_week{
  background-color: white;
  color:black;
  cursor: pointer;
}

#RSM_week{
  background-color: white;
  color:black;
  cursor: pointer;
}


