#Tw_MJI{
  background-color: white;
  color:black;
  cursor: pointer;
}
#Tw_YSY{
  background-color: white;
  color:black;
  cursor: pointer;
}

#Tw_LNY{
  background-color: white;
  color:black;
  cursor: pointer;
}

#Tw_LJM{
  background-color: white;
  color:black;
  cursor: pointer;
}

#Tw_HJP{
  background-color: white;
  color:black;
  cursor: pointer;
}


#Tw_HKA{
  background-color: white;
  color:black;
  cursor: pointer;
}

#MJI_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}
#YSY_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}

#LNY_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}

#LJM_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}

#HJP_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}


#WHR_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}

#RSM_week_T{
  background-color: white;
  color:black;
  cursor: pointer;
}