#Tw_MJI{
  background-color: white;
  color:black;
}

#Tw_MJI:hover{
  background-color: pink;
  color:white;
}

#Tw_YSY{
  background-color: white;
  color:black;
}

#Tw_YSY:hover{
  background-color: pink;
  color:white;
}

#Tw_LNY{
  background-color: white;
  color:black;
}

#Tw_LNY:hover{
  background-color: pink;
  color:white;
}

#Tw_LJM{
  background-color: white;
  color:black;
}

#Tw_LJM:hover{
  background-color: pink;
  color:white;
}

#Tw_HJP{
  background-color: white;
  color:black;
}

#Tw_HJP:hover{
  background-color: pink;
  color:white;
}

#Tw_HKA{
  background-color: white;
  color:black;
}


#Tw_HKA:hover{
   background-color: pink;
   color:white;
}

