#Tw_MJI{
  background-color: white;
  color:black;
}
#Tw_YSY{
  background-color: white;
  color:black;
}

#Tw_LNY{
  background-color: white;
  color:black;
}

#Tw_LJM{
  background-color: white;
  color:black;
}

#Tw_HJP{
  background-color: white;
  color:black;
}


#Tw_HKA{
  background-color: white;
  color:black;
}
