{{#layout}}
<div>
    <form class="form-inline">
        <div class="form-group">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item" id="MJI_week">문재인</li>
                <li class="list-group-item" id="YSY_week">윤석열</li>
                <li class="list-group-item" id="LNY_week">이낙연</li>
                <li class="list-group-item" id="LJM_week">이재명</li>
                <li class="list-group-item" id="HJP_week">홍준표</li>
                <li class="list-group-item" id="WHR_week">원희룡</li>
                <li class="list-group-item" id="RSM_week">유승민</li>
            </ul>
        </div>
    </form>
</div>

{{/layout}}